<Files ~ "^(schema.py|happy-balls.db)$">
order deny,allow
deny from all
</Files>

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /server/index.php/$1 [L]  
</IfModule>

